---
---

$white: #ffffff;
$background-color: #F0F2F3;
$border-color: #e9e9e9;

$cloud: #BBBBBB;
$fossil: #AAAAAA;
$shadow: #555555;
$shadow-bar: #606060;
$charcoal: #363636;

$azure: #4C9CF1;

$font-family-1: "Open Sans";
$font-family-2: "Open Sans Condensed";
$font-family-3: "Roboto";
$font-family-4: Helvetica, Arial, sans-serif;

$paragraph-font-family: $font-family-4;
$paragraph-font-size: 14px;
$paragraph-color: #626566;
$paragraph-line-height: 1.9;
$paragraph-letter-spacing: .01em;

$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 14px;

$h1-line-height: 1.8em;
$h2-line-height: 1.35em;
$h3-line-height: 1.35em;
$h4-line-height: 1.32em;
$h5-line-height: 1.35em;

$h1-margin:  0px 0 10px 0;
$h2-margin: 48px 0 8px;
$h3-margin: 48px 0 8px;
$h4-margin: 48px 0 8px;
$h5-margin: 48px 0 8px;

/******************************************************************************/

body { 
    background: $background-color;
    color: $shadow;
}

a {
    color: $azure;
    text-decoration: none;
}
  
a:hover {
    color: $shadow;
}

h1, h2, h3, h4, h5 {
    color: $charcoal;
    font-family: $font-family-1;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 300;
}

h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    margin: $h1-margin;
}

h2 { 
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin: $h2-margin;
}

h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin: $h3-margin;
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    margin: $h4-margin;
    font-weight: bold;
}

h5 {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
    margin: $h5-margin;
    font-weight: bold;
}
    
p {
    font-family: $paragraph-font-family;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    letter-spacing: $paragraph-letter-spacing;
    color: $paragraph-color;
    margin: 0 0 14px 0;
}

p, 
li, 
td {
    word-wrap: break-word;
}

section {
    margin: 80px auto;
    max-width: 1080px;
    padding: 20px;
    position: relative;
    background-color: $white;
    border: 1px solid $border-color;
}

pre {
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-size: 11px;
}

code {
    padding: 2px 4px 1px 4px;
    font-size: 75%;
    border-radius: 3px;
}

.code pre {    
    padding: 0 0 0 8px;
}

ol, 
ul {
    li {
        padding: 4px 0;
    }
}

/******************************************************************************/

.navbar {
    border-radius: 0;
    min-height: 76px;
    background: $charcoal;
    border: none;
    border-color: transparent;

    .navbar-brand {
        text-transform: uppercase;
        font-weight: 300;
        font-style: normal;
        color: $fossil;
        font-family: $font-family-2;
        font-size: 28px;
        letter-spacing: 2px;
        margin-top: 13px;
    }

    .navbar-brand:hover {
        color: $white;
    }
 
    .navbar-collapse {
        border: none;
        border-color: transparent;
    }

    .navbar-toggle {
        margin-top: 20px;
        margin-right: 15px;
        border: none;

        &:hover,
        &:focus {
            background-color: $shadow;
        }

        .icon-bar {
            background-color: $white;
            height: 3px;
        }
    }  
}

#navbar-main {

    margin-top: 23px;

    .navbar-nav {

        .dropdown-menu {
            border-radius: 0;
        }

        li a {
            font-family: $font-family-4, $font-family-4;
            font-size: 11px;
            text-transform: uppercase;
            padding: 6px 8px 4px 8px;
            margin: 0 6px;
            border-bottom: solid 2px transparent;
            color: $fossil;
                
            .caret {
                margin-left: 6px;
                top: 0;
            }
        }
    
        li.open {
            a {
                background-color: $shadow;
                color: $white;
            }
        }
    
        li a:hover,
        li .active {
            color: $white;
            border-bottom: solid 2px $cloud;
        }
    
        li .dropdown-menu {
            right: 6px;
            background-color: $shadow;
            border: none;
            margin-top: -2px;
    
            a {
                text-transform: none;
                color: $fossil;
                font-size: 13px;
                font-family: $font-family-3, $font-family-4;
            }

            a:hover {
                border-bottom: solid 2px transparent;
                color: $white;
            }
        }
        
    }
}

/******************************************************************************/

#index {

    h1 {
        margin-top: 20px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .posts {
        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
        }
        
        li {
            font-family: $font-family-3;
            color: #626566;
            line-height: 1.6;
            letter-spacing: .01em;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            padding: 18px 0;
            position: relative;
            list-style-type: none;
            font-size: $paragraph-font-size;
        }
        
        li:last-child {
            border-bottom: none;
        }
        
        span {
            float: right;
            word-break: none;
            word-wrap: none;
            font-size: 12px;
            font-family: $font-family-4;
            margin-left: 6px;
        }  
    }
}

#dns-toolbox {

    overflow-x: auto;
    padding-bottom: 20px;
    margin-bottom: 40px;

    button {
        height: 27px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #555555;
    }
    
    button:hover {
        background-color: #E9E9E9;
    }
    
    button:active {
        box-shadow: inset 0 1px 5px rgba(0,0,0,0.125);
    }
    
    .formFields input, textarea, select {
        display: inline-block;
        padding: 4px;
        margin-top: 9px;
        font-size: 13px;
        line-height: 18px;
        color: #555555;
        border: 1px solid #cccccc;
        border-radius: 3px;
    }
    
    .formFields input, textarea {
        min-width: 260px;
    }
    
    .formFields p { 
        margin: 0;
    }
}

#dns-toolbox-answers {

    padding: 40px;
    margin-top: 0;
    position: relative;
    display: none;

    h1 {
        margin-top: 0;
    }

    h2 {
        margin: 28px 0 8px 0;
    }

    h2:first-child {
        margin: 0 0 8px 0;
    }

    table, 
    td {	
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: small;
        color: #626566;
        line-height: 1.6;
        letter-spacing: .01em;
    }

    table {
        margin: 0;
        padding: 0;
        border-spacing: 1px;
        border-collapse: separate;
        border: 1px solid #ddd;
    }

    td {
        border: 1px solid #ddd;
        padding: 2px 2px 2px 5px;	
        min-width: 70px;		
    }

    .loadingImage {
        text-align: center;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #dnsResults {
        overflow: auto;
    }
    
    .header {
        background-color: #fafafa;
        border: 1px solid #eee;
        padding: 8px;
        border-radius: 2px;
    }

    .header p {
        font-family: monospace;
        font-size: smaller;
        margin: 0;
    }

    .header p:nth-child(3) {
        margin-top: 16px;
    }

    .ui-state-default {
        padding: 7px 17px;
        border: 1px solid #ddd;
        background-color: #fafafa;
    }
    
    .ui-state-active {
        background: #fff;
        border-bottom: 1px solid #fff;
    }
    
    .apiErrorMessage {
        background-color: #fafafa;
        padding: 12px 8px;
        border: 1px solid #ddd;
        text-align: center;
    }
    
    .childTable {
        border-spacing: 0;
        border: none;
    }

    .childTable td {
        padding-left: 10px;
        padding-right: 10px;
        border: none; /* important */
        border-right: 2px solid #ddd;
        min-width: 0;
    }

    .childTable td:first-child {
        padding-left: 2px;
    }

    .childTable td:last-child {
        padding-right: 10px;
        border: none;
    }
}

#code {

    h2 {
        font-size: 18px;
        margin: 0;
    }

    li:first-child {
        margin: 35px 0 15px 0;
    }

    li {
        margin: 15px 0 15px 0;
    }
}

#disqus_thread {
    margin: 80px 0 0 0;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

#generate-passwords {
    #passwords {
        margin-bottom: 26px;
            
        ul {
            list-style: none;
            margin: 15px 0 0 0;
            padding: 0;
        }

        li {
            line-height: 1.8em;
        }

        .password {
            font-family: monospace;
            border: 1px solid #e0e0e0;
            background-color: #fcfcfc;
            margin: 0;
            padding: 2px 8px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
    
        .length {
            font-family: Arial;
            font-size: x-small;
            color: #aaa;
            margin: 0 10px 0 0;
        }

        .copyButton {
            border: none;
            padding: 0 6px 0 4px;
            margin: 1px 0 0 0;
            font-size: 8pt;
            height: 23px;
            font-family: $font-family-1;
            line-height: 2.3;
            text-transform: uppercase;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    #error {
        background-color: #fafafa;
        padding: 12px 8px;
        border: 1px solid #ddd;
        text-align: center;
        margin-bottom: 16px;
    }
    
}

#about {
    img {
        padding: 70px;
        max-width: 100%;
    }

    h1 {
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
    }
}

#iis-server-headers {
    h1 {
        border-bottom: 1px solid $border-color;
    }
}

#protocol-header-cheetsheets {
    h1 {
        border-bottom: 1px solid $border-color;
    }

    hr {
        margin: 80px 0;
        size: 5px;
    }
    
    img {
        max-width: 100%;
    }
   
    table { 
       border: 1px solid $border-color;
    }

    th {
        background-color: $background-color;
    }

    th,
    td { 
       border: 1px solid $border-color; 
       word-wrap: normal;
       padding: 4px;
       white-space: nowrap;
       vertical-align: top;
    }
   
    td:last-child {
        word-wrap: break-word;
        white-space: normal;
    }
}

#post {
    img {
        max-width: 100%;
    }
}

#footer {
    blockquote {
        font-style: italic;
        font-size: small;
        margin: 0 auto;
        max-width: 1080px;
        text-align: right;
        top: -65px;
        position: relative;
        border: none;
    }
}

/******************************************************************************/

.viewport-max-height {
    min-height:80vh;
}












/* notice this section is MAX width */
@media only screen and (max-width: 768px) {
    
    #navbar-main {
        
        .navbar-nav {
            li,
            li:hover {
                .active,
                a:hover {
                    border-bottom: solid 2px transparent;
                }

                .dropdown-menu {
                    padding: 0;

                    li {
                        padding-left: 16px;
                        border-bottom: 1px solid $shadow-bar;
                    }
                    
                    li:last-child {
                        border-bottom: none;
                    }
                }
            }

            li.open {
                a { 
                    background-color: transparent;
                }
            }
        }
        
        li a:hover {
            border-bottom: none;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media only screen and (max-width: 1100px) {
    body { 
        background: $white;
    }
    section { 
        border: 0px transparent;
        margin: 0;
    }
    #footer {
        margin-top: 140px;
    }
    
    #protocol-header-cheetsheets {
        td {
            white-space: normal;
        }
    }
}
