/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  background: #F0F2F3;
  color: #555;
  min-width: 320px;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

#mobile-navigation {
  display: none;
}

#wrapper { 
  background: #F0F2F3;
  padding: 0;
  margin: 0;
}

#tabs { 
  margin-top: 10px;
}

.tabbed-content {
  padding: 20px 10px;
}

.disqus {
  /* spacing for disqus */
  margin-bottom: 110px;
}

#logo {
  background: #191919;
  padding: 80px 60px;
  text-align: center;
}

#logo img {
  width: 100%;
}

#logo img {
  min-width: 260px;
  max-width: 1264px;
}

#welcome {
  width: 120px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 28px 0 0 0;
  vertical-align: top;
  font-family: "Open Sans Condensed";
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  color: #aaa;
}

header {
  background: #363636;
  height: 76px;
  text-align: center;
  font-family: "Open Sans";
  letter-spacing: 1px;
  border-top: solid 1px #555;
}

header nav {
  display: inline-block;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  float: left;
  padding: 10px 0;
  color: #ddd;
  font-size: x-small;
}

header li:after {
  content: '/';
  margin: 0 16px;
}

header li:last-child:after {
  content: '';
  margin: 0 0px;
}

header a { 
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  color: #aaa;
}

header li a {
  font-size: 11px;
}

header a:hover {
  color: #ffffff;
}

nav a:hover {
	padding-bottom: 4px;
	border-bottom: solid 2px #bbb;
}
	
header .active-link {
  color: #ffffff;
  padding-bottom: 4px;
  border-bottom: solid 2px #bbb;
}

header .active-link:hover {
  border-bottom: solid 2px #bbb;
}

section {
  margin: 80px auto;
  max-width: 1080px;
  padding: 20px;
  position: relative;
}

section.boxed {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;  
}

section.large {
   min-height: 900px;
}

section table {
	margin: 0;
	padding: 0;
	border-spacing: 1px;
	border-collapse: separate;
	border: 1px solid #ddd;
	margin: 8px 0 8px 0;
}

section table, section td {	
	font-size: small;
	color: #626566;
	line-height: 1.6;
	letter-spacing: .01em;
}


section td, section th {
	border: 1px solid #ddd;
	padding: 2px 6px 2px 5px;
	text-align: left;
}

section th {
	background-color: #fafafa;
	padding: 3px 10px 2px 5px;
	white-space: nowrap;
}

#wrapper hr { 
  border: none;
  border-bottom: 1px solid #CCC;
  width: 100%;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 40px;
}

#wrapper h1, h2, h3, h4, h5 {
  color: #121212;
  font-family: "Open Sans";
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
}

#wrapper h1 {
  font-size: 30px;
  line-height: 1.8em;
}

#wrapper h2 { 
  font-size: 24px;
  line-height: 1.35em;
  margin: 48px 0 8px;
}

#wrapper h3 {
  margin: 48px 0 8px;  
}

#wrapper h5 {
  font-size: 16px;
  line-height: 1.35em;
  margin: 48px 0 8px;
  font-weight: bold;
}

#wrapper h2:first-child { 
  margin: 0 0 8px;
}

#wrapper p {
  color: #626566;
  font-size: 15px;
  line-height: 1.9;
  letter-spacing: .01em;
  margin: 0 0 14px 0;
}

#wrapper .column3 { 
  float:left; 
  width:33%; 
  display: block;
}

#wrapper .column {
  padding: 8px;
}

#wrapper ul, ol {
  list-style-type: disc;
  padding-left: 40px;
  margin-bottom: 20px;
}

#wrapper ol {
  margin-top: 6px;
}

#wrapper li { 
  color: #626566;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: .01em;
  margin: 0 0 5px;
}

#wrapper ul.tools {
  margin-top: 45px;
}

#wrapper ul.tools li {
  margin: 15px 0 35px;
}
#wrapper ul.tools h2 {
  margin: 0;
  font-size: 18px;
}

#wrapper li a {
  /* white-space: nowrap; */
}

#wrapper code { 
  margin: 0 2px;
  padding: 3px 5px 3px 5px;
  border: 1px solid #eee;
  background-color: #FFFFF5;
  border-radius: 3px;
  font-size: 11px;
}

#wrapper pre > code {
  border: 1px solid #eee;
  background-color: #f8f8f8;
  line-height: 16px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 11px;
  display: block;
  margin: 10px 0;
}

#wrapper .category  {
  text-transform: uppercase;
  font-size: xx-small;
  border: 1px solid #ddd;
  padding: 1px 3px 2px 3px;
  color: #aaa;
  background-color: #fafafa;
}

a {
  color: #4C9CF1;
  text-decoration: none;
}

a:hover {
  color: #444;
}

sup {
	vertical-align: super;
}
.clearfix { clear: both;}

.text-align-center { 
  text-align: center;
}

#about-me {
  margin: 40px auto;
  max-width: 840px;
}

.breadcrumb {
  color: #626566;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: .01em;
  border: 1px solid #eee;
  background: #fafafa;
  padding: 4px 8px 3px 8px;
  margin: 0 0 20px;
  display: block;
}

.divider {
  font-weight: bold;
  margin: 0 7px;
}

blockquote {
    font-style: italic;
    font-size: small;
    margin: 0 auto;  
    max-width: 1080px;  
    text-align:  right;
    top: -65px;
    position:  relative;
    left: 10px;
}

.slick-slide p {
	margin-top: 16px !important;
}

.slick-carousel div {
	text-align: center;
}

.slick-carousel img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
  
#posts ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#posts li {
  color: #626566;
  line-height: 1.6;
  letter-spacing: .01em;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 15px 0;
  position: relative;
  list-style-type: none;
  font-size: 15px;
}

#posts li:last-child {
  border-bottom: none;
}

#posts .postDate {
  float: right;
  word-break: none;
  word-wrap: none;
}

#welcome-block {
  text-align: center;
  margin: 30px auto 60px 0;
}






/*MEDIA QUERY*/
@media only screen and (max-width : 1140px) {

  blockquote {
    position:  relative;
    max-width: none;
    margin: 0;
    top: 0;
    left: -16px;
    padding-bottom: 16px;
  }

  section {
    margin: 20px auto;
    margin-top: 0;
    padding: 20px;
  }

  section.boxed {
    border: none;
  }

}








/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

  header {
    display: none;
  }

  section {
    margin: 20px auto;
    padding: 20px;
  }

  section.boxed {
    border: none;
  }

  body { 
    background: none;
  }

  #logo {
    padding: 40px 20px;
  }

  #wrapper .column {
    padding: 0;
  }

  #wrapper .column3 { 
    float: none; 
    width: auto; 
    display: inline-block;
  }

  #pull {
    display: block;
    width: 100%;
    height: 30px;
    padding: 8px 0 0 0;

    color: #c2c2c2;
    font-weight: normal;
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
  }

  #pull:after {
    content: "";
    background: url('../img/nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 11px;
  }

  #mobile-navigation {
    display: block;
    background: #363636;
  }

  #mobile-navigation {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  #mobile-navigation ul {
    display: none;
    list-style: none;
    font-family: "Open Sans";
    font-size: 14px;
    
    font-weight: 300;
    font-style: normal;
  }

  #mobile-navigation li {
    display: list-item;
    text-transform: uppercase;
    margin-top: solid 1px black;
    border-top: 1px solid rgba(255, 255, 255, .05);
  }

  #mobile-navigation a {
    color: #aaa;
    width: 100%;
    display: block;
    padding: .5em 0;
    line-height: 2em;
  }

  #mobile-navigation a:hover {
    color: #fff;
  }
}











