---
layout: default
title: Snaplen, and other arguments — Pingfu
---

<section class="boxed">

  <div class="breadcrumb"><a href="/">Pingfu</a> <span class="divider">›</span> Blog</div>

  <h1>Snaplen, and other arguments</h1>

  <p>A collection of thoughts mostly on programming, performance, technology and cyber.</p>

  <h2>Posts</h2>

  <ul class="posts">
    {% for post in site.posts %}
      <li>{{ post.date | date_to_string }} — <a href="#{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</section>



{% for post in site.posts %}
<section class="boxed">

	<h2><a id="{{ post.title }}" href="{{ post.url }}#disqus_thread">{{ post.title }}</a></h2>
	<p class="meta">{{ post.date | date_to_string }} — {% for category in post.categories %} <span class="category">{{ category }}</span> {% endfor %}</p>

	<div class="post">
		{{ post.content }}
	</div>

</section>
{% endfor %}


<script type="text/javascript">

  var disqus_shortname = 'pingfu';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  
</script>