<table>
	<tbody>
		<tr>
			<td>IP Address</td>
			<td><a href="http://{{ip}}/" target="_blank">{{ip}}</a></td>
		</tr>
		<tr>
			<td>Hostname</td>
			<td><a href="http://{{hostname}}/" target="_blank">{{hostname}}</a></td>
		</tr>
		<tr>
			<td>City</td>
			<td><a href="https://en.wikipedia.org/wiki/{{city}}" target="_blank">{{city}}</a></td>
		</tr>
		<tr>
			<td>Region</td>
			<td><a href="https://en.wikipedia.org/wiki/{{region}}" target="_blank">{{region}}</a></td>
		</tr>
		<tr>
			<td>Country Code</td>
			<td><a href="http://country.io/{{lowerCaseCountry}}" target="_blank">{{country}}</a></td>
		</tr>
		<tr>
			<td>Network</td>
			<td><a href="http://www.google.com/search?q={{org}}" target="_blank">{{org}}</a></td>
		</tr>
		<tr>
			<td>Postal Code</td>
			<td><a href="https://www.google.co.uk/maps/search/{{city}}+{{postal}}" target="_blank">{{postal}}</a></td>
		</tr>
		<tr>
			<td>Latitude / Longitude</td>
			<td><a href="https://www.google.co.uk/maps/search/@{{loc}}" target="_blank">{{loc}}</a></td>
		</tr>
	</tbody>
</table>